* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#box{
    display: flex;
    color: blue;
    justify-content: center;
    align-items: center;
    /*flex: 1 0 calc(100% / 16);*/
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    aspect-ratio: 1/1;
}

button{
    padding: 1rem;
}
