* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    margin: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column  ;
    background-color: red;
}

#box{
    display: flex;
    color: blue;
    justify-content: center;
    align-items: center;
    /*flex: 1 0 calc(100% / 16);*/
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    aspect-ratio: 1/1;
    border: solid 5px black;
    background-color: white;
}

button{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
